@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
  color: #0a221c;
}
.butn {
  padding: 10px 16px 10px 16px;
}
.butnz {
  padding: 10px 30px 10px 30px;
}
.font2 {
  font-family: "Space Grotesk", sans-serif;
}
.bgg {
  background: url(./assets/images/triangles.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top -50% right -30%;
}
.triangle {
  background: url(./assets/images/Vector.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.triangle2 {
  background: url(./assets/images/Vector.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top 0% left 0%;
}
.triangle3 {
  background: url(./assets/images/Vector1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.shadow2 {
  box-shadow: 0px 0px 16px 10px #5b5b5b0f;
}
.shadow {
  box-shadow: 0px 7px 14px 3px #acacac1f;
}
